* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body {
background-color: #F6F6F6;
}

.positionhead{
    position: fixed;
  z-index: 999;
  width: 100%;
}

.contact{
  background-color: #f0f0f0;

}
.contact p{
  font-size: large;
  text-align: center;
  color: #b53f9f;
  text-transform: capitalize;
  line-height: 30px;
}

.navbar {
  background-color: #fcca07;
  height: 15px;
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo {
  margin-left: 5px;
  width: 300px;
  height: auto;
  cursor: pointer;
  padding-bottom: 10px;
}


.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #e91e63;
  text-transform: uppercase;
  font-weight: bolder;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #e91e63;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover:after {
  width: 100%;
}

.spaces{
  padding-top: 50px;
}

.section {
  text-align: center;
  align-items: end;
  background-color: #F6F6F6;
  padding-bottom: 10vh;
}

.section h1 {
    color: #FAAF18;
    font-weight: 700;
    font-size: 44px;
    line-height: 44px;
  padding-top: 80px;
    letter-spacing: 8px;
    margin-bottom: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  width: 325px;
  margin-top: 0;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card img {
  width: 90%;
  height: auto;
   height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 16px !important;
  height: 50px !important;
}
.cardcomment {
  padding: 20px !important;
 align-items: center;
}

.card-content h3 {
  height: 30px;
  font-size: 28px;
  margin-bottom: 8px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #FAAF18;
}



.container{
    width: 100% !important;
    background-color: #F6F6F6;
    overflow: hidden;
}

.subhead{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    
}
.subhead_content h1{
      color: #FAAF18;
    font-weight: 700;
    font-family: Lora;
    font-size: 34px;
    line-height: 40px;
   
}
.subhead_content{
  display: block;
  flex: 1;
  text-align: left;
  padding-left: 70px;
}
.subhead_content p{
  color: #212121;
    font-size: 15px;
    line-height: 24px;
     font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.newcontact{
  text-align: center;
    flex: 1;
  align-items:center;
  padding-top: 30px;
}

.newcontact h3{
 padding-top: 30px;
  text-align: center;
   color: #faaf18;
    font-weight: 700;
    letter-spacing: 3px;
    padding-bottom: 40px;
     font-size: 30px;
}


input,textarea{
    width: 70%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
     font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
input:focus, textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
.form_group{
    margin-bottom: 20px;
}

.contactfms{
  display: flex;
}
.contact_form{
  flex: 1;
}
.contact_form2{
  flex: 1;
}




.contain{
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-field{
  position: relative;
  margin-bottom: 30px;
}
.input-field input
{
   width: 100%;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid #333;
  background: transparent;
  color: #0f0d0d;
  outline: none;
}
.input-field label
{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #faaf18;
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
}
input:focus,
input:hover
{
  border: 2px solid #B53F9F;
}

input:focus ~ label,
input:hover ~ label,
input:valid ~ label
{
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #fff;
}
.input-field textarea{
  width: 100%;
  max-height: 40vh;
  border-radius: 6px;
  font-size: 20px;
  padding: 0 16px;
  border: 2px solid #333;
  background: transparent;
  color: #0f0d0d;
  outline: none;
}


textarea:focus,
textarea:hover
{
  border: 2px solid #B53F9F;
}

textarea:focus ~ label,
textarea:hover ~ label
{
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #fff;
}
.red{
  color: red;
}
button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #FCCA07;
  background: transparent;
  color: #B53F9F;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}


.buttonStyle {
  background: #FCCA07 !important;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}

button:hover {
  border: none;
   background: #FCCA07 !important;
}

.containers{
	max-width: 1170px;
	margin:auto;
  
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #fcca07;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #e91e63;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #e91e63;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #e91e63;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



.sidebar {
  padding-top: 20vh !important;
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: blur(10px);

  /* check height */
  height: 100vh;
  width: 100%;
  z-index: 999;
  background: transparent;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.sidebar li {
  width: 100%;
  margin-bottom: 40px !important;
}
.sidebar a {
  width: 100%;
}
.listcolor{
  color: #0f0d0d;
}

  .menu-button{
    visibility: hidden;
  }

@media (max-width: 800px) {
  .hideOnMobile{
    display: none !important;
  }
  .menu-button{
    visibility: visible;
  }
}



@media (max-width: 500px) {
  .sidebar{
   width: 100%;
  }
   .logo {
    width: 220px;
    margin-right: 5px;
    height: auto;
  }
}



@media(max-width: 800px){
  .contact{
    display: none;
  }

.about{
    display: block;
    align-items: center;
    height: 700px;
}
.about_content{
  margin-top: 40px;
  text-align: center;
}
.subhead{
    display: block;
    align-items:center;

}
.subhead_content h1{
  padding-top: 24px;
    text-align: center;
}
.subhead_content{
  display: block;
  text-align: center;
  align-items: center !important;
  margin: auto;
  margin-right: 70px;
}
.subhead_content p{
  padding-top: 24px;
 text-align: center;
}
}



.wrapper img {
filter: grayscale(100%);
transition: 0.5s ease;
cursor: pointer;
}

.wrapper img:hover {
transform: scale(1.1);
filter: grayscale(0%);
}

/* 
@media (max-width: 940px) {
  .services {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 85%;
    display: flex;
    margin: 20px 0px;
  }
} */
